@charset "UTF-8";
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}



/*--------------------*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

/*header*/
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}


.header {
  width: 100%;
  height: 66px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 14px;
  background-color: #fff;
		&__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
		}
    &__container{
      width: 100%;
      max-width: 1439px;
      margin: 0 auto;
      padding: 0 15px;
    }
}
.header {

  &__basket {
    display: flex;
    justify-content: space-between;
    width: 40px;
  }
}
.basket {

  &__link {
    width: 18px;
    height: 18px;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.header.fixed{
  height: 66px;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  transform: translate3d(0, 0, 0);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.header-logo {
  img{
    width: 160px;
    height: 36px;
  }
}
.nav {
  width: 100%;
  height: 100%;
  transition: all 0.3 ease ;
    
		&__link {
      
      text-transform: uppercase;
      margin-right: 15px;
      color: #000;
		}
    	&__link:last-child{
      margin-right: 0px;
		}
}


/*nav-toggle*/
  .nav-toggle {
    display: none;
    width: 30px;
  
    font-size: 0;
    color: transparent;
    position: absolute;
    border: 0;
    background: none;
    top: 32px;
    left: 18px;
    z-index: 1;
    cursor: pointer;
    transition: transform .9s linear;
    &__item {
      display: block;
      width: 100%;
      height: 3px;
  
      background-color: #000;
      
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: transform .2s linear;

    }
  }
  .nav-toggle__item:before,
  .nav-toggle__item:after{
    content: " ";
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;

  }
    .nav-toggle__item:before{
    top: -8px;
  }
    .nav-toggle__item:after{
    bottom: -8px;
  }
.nav-toggle.active .nav-toggle__item{
  background: none;
}
.nav-toggle.active .nav-toggle__item:before{
  transform-origin: left top;
  transform: rotate(45deg) translateX(-2px);
}
.nav-toggle.active .nav-toggle__item:after{
  transform-origin: left bottom;
  transform: rotate(-45deg) translateX(-4px);
}


  @media (max-width: 1180px) {
    .nav-toggle {
      display: block;
    }
    .header-logo{
      margin-left: 50px;
    }
  
    .nav {
      display: none;
      background-color: #fff;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 100%;
      left: 0;
      


      &__link {
        display: block;
        padding: 10px 0 15px 10px;
        
      }
    }
    .nav.active{
      display: block;
      
      
    }
    .header__inner.active{
      background-color: #fff;
    }
    body.active{
      overflow-y: hidden;
    }
  }
/*-----------*/


/*intro*/
.intro {
  min-height: 100vh;
  background: url("../img/intro/01.jpg") center no-repeat;
  color: #fff;
  background-size: cover;
  padding-top: 66px;
  &__inner {
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__titile {
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 14px;
  }

  &__subtitile {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 22px;

  }

  &__btn {
    display: flex;
    
  }

  &__btn-1, &__btn-2 {
    font-size: 15px;
    margin-right: 12px;
    background-color: #FF4A32;
    color: #fff;
    text-transform: uppercase;
    border-radius: 35px;
  }
  
  &__btn-1{
    padding: 8px 20px;
  } 
  &__btn-1:hover{
    background-color: #606060;
    transition: all 0.3s ease 0s;
  } 
  &__btn-2:hover{
    background-color: #606060;
    transition: all 0.3s ease 0s;
  } 
  &__btn-2 {
    padding: 8px 44px;
  }
}
@media (max-width: 680px) {
  .intro {
    min-height: 100vh;
    background: url("../img/intro/01.jpg") center no-repeat;
    color: #fff;
    background-size: cover;
    padding-top: 66px;
  
  
    &__titile {
      font-size: 32px;
      text-align: center;
    }
  
    &__subtitile {
      font-size: 14px;     
      text-align: center;

  
    }
  
    &__btn {
      font-size: 14px;
      flex-direction: column;
      
    }

    &__btn-1{
      margin-bottom: 10px;

    } 
  }
}
/*-----------*/

/*brands*/

.brands {
  background-color: #000;

  &__inner {
    display: flex;
    justify-content: space-around;
    padding: 17px 0;
  }

  &__item {
    flex: 0 0 25%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
@media (max-width: 780px) {
  .brands {
    background-color: #000;
  
    &__inner {
      display: flex;
      justify-content: space-around;
      padding: 20px 0;
      flex-wrap: wrap;
    }
  
    &__item {
      padding: 10px 0;
      flex: 0 0 50%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .brands {
    background-color: #000;
  
    &__inner {
      display: flex;
      justify-content: center;
      padding: 20px 0;
      flex-wrap: wrap;
    }
  
    &__item {
      padding: 10px 0;
      flex: 0 0 60%;
      
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
/*-----------*/


/*search*/
.search {

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 20px;

  }

  &__title {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 17px;
    text-align: center;

  }

  &__subtitle {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 7px;
    max-width: 685px;
    text-align: center;
  }

  &__line {
    width: 70px;
    height: 2px;
    background-color: #CFCFCF;
    margin-bottom: 40px;
  }
}
.shop {
  display: flex;
  justify-content: space-between;

  &__board, &__turnovers {
    flex: 0 0 49%;
    position: relative;

  }
  &__board {
  }
  &__turnovers {
  }
  &__img{
    overflow:hidden;
    
    img{
      width: 100%;
      height: 100%;
      transition: transform 0.9s;
    }:hover{
      transform: scale(1.15);
    }
  }
  &__text  {
    width: 100%;
    text-align: center;
    color: #fff;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    img{
      margin-bottom: 10px;
      width: 29px;
      height: 49px;
    }
  }

  
  &__title {
    font-size: 25px;
    margin-bottom: 15px;
    
  }

  &__subtitle {
    font-size: 18px;

  }
}
@media (max-width: 980px) {
  .shop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    &__board, &__turnovers {
      flex: 0 0 100%;
      position: relative;
  
    }
  }
}
/*-----------*/


/*performance*/

.performance {
  flex: 0 0 100%;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__inner {
    flex: 0 0 100%;
    max-height: 736px;
    overflow: hidden;
    position: relative;

  }
  &__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 44px;
  }

  &__text {
    text-align: center;
    
  }

  &__title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;

  }

  &__subtitle {
    display: block;
    text-align: center;
    max-width: 488px;
    margin-bottom: 10px;
  }

  &__btn {
    background-color: #FF4A32;
    color: #fff;
    border-radius: 35px;
    padding: 5px 75px;
    line-height: 22.5px;
    font-weight: 600;

  }
  &__btn:hover{
    background-color: #606060;
    transition: all 0.3s ease 0s;
  } 
}

@media (max-width: 580px) {
  .performance {
  
    &__info {
      margin-top: 20px;
    }

    &__text {
      font-size: 14px;
    }
  
    &__title {
      font-size: 24px;
      width: 100%;
    }
  
    &__subtitle {
      display: none;
    }
  }
}
/*-----------*/


/*rev*/
.rev {

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
  }

  &__block {
    flex: 0 0 32.5%;
    
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }

  &__block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__block-title {
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 1px;
    margin-bottom: 5px;

  }

  &__block-subtitle {
    font-size: 15px;
    letter-spacing: 1px;
    line-height:22.5px;
    margin-bottom: 10px;
  }

  &__block-btn {
    letter-spacing: 1px;
    font-size: 15px;
    background-color: #FF4A32;
    color: #fff;
    border-radius: 35px;
    width: 100px;
    text-align: center;
    padding: 5px 0px;
    line-height: 22.5px;
    font-weight: 600;
  }
  &__block-btn:hover{
    background-color: #606060;
    transition: all 0.3s ease 0s;
  } 
}


@media (max-width: 880px) {
  .rev {

    &__inner {
      flex-wrap: wrap;

    }
  
    &__block {
      flex: 0 0 100%;
      padding-bottom: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;
  
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
      }
    }:last-child {
      padding-bottom: 5px;

    }
  
    &__block-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
  }
}
@media (max-width: 580px) {
  .rev {
		&__block-title {
      font-size: 24px;
      line-height: 24px;
		}

		&__block-subtitle {
      font-size: 14px;
      line-height: 17px;
		}

		&__block-btn {
		}
}
}
/*-----------*/


/*pluses*/
.pluses {

  &__inner {
    display: flex;
    padding-bottom: 45px;
  }

  &__block {
    flex: 0 0 33.3333%;
    
    position: relative;
    
  }
  &__img{
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.9s;
    }:hover{
      transform: scale(1.15);
    }
  }

  &__text {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }

  &__text-title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  &__text-subtitle {
    font-size: 18px;
    text-transform: uppercase;
  }
}


@media (max-width: 880px) {
  .pluses {

		&__inner {
      flex-wrap: wrap;
		}

		&__block {
      flex: 0 0 100%;
		}

}
}
/*-----------*/



/*video*/

.video {

		&__inner {
      display: flex;
      justify-content: center;
      margin-bottom: 65px;
		}

		&__block {
      flex: 0 0 45%;
      position: relative;
      padding-bottom: 25%;

      margin: 0 10px 0 10px;

      iframe{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
		}
}
@media (max-width: 880px) {
  .video {
		&__inner {
      flex-wrap: wrap;
		}

		&__block {
      flex: 0 0 100%;
      padding-bottom: 56%;

      margin: 0 0px 10px 0px;

		}::last-child{
      margin-bottom: 0px;
    }
}

}
/*-----------*/




/*products*/
.products{
  min-width: 0;
  margin-bottom: 50px;
  
}
.products-swiper {
  position: relative;
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}
.products__line{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-item {

		&__img {
      text-align: center;
      img{
        max-width: 100%;
      }
		}
}
.products__title{
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;

}
.swiper-button__icon-1{
  background-image: url("../img/products/01.svg");
  width: 19px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.swiper-button-prev {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 22px;  
  width:44px;
  height: 44px;
  border-radius: 35px;
}
.swiper-button__icon-2{
  background-image: url("../img/products/02.svg");
  width: 19px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.swiper-button-next {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 22px;  
  width:44px;
  height: 44px;
  border-radius: 35px;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}
.products-item__title{
  display: flex;
  justify-content: center;
  margin: 12px 0 3px 0;
  color: #FF4A32;
  line-height: 18px;
  font-size: 15px;
  font-weight: 500;

}
.products-item__price{
  color: #000;
  display: flex;
  justify-content: center;
  line-height: 18px;
  font-size: 15px;
  font-weight: 500;
}
/*-----------*/

/*quality*/
.quality {
  background-color: #000;
  color: #fff;
  text-align: center;

  &__container {
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__inner {
    display: flex;
    padding: 34px 0px 55px;
  }

  &__item {
    flex: 0 1 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0;
  }

  &__icon {
    margin-bottom: 5px;
    flex: 0 0 35%;
    overflow: hidden;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 5px;
    margin-bottom: 25px;

  }

  &__text {
    font-size: 15px;
    line-height: 22.5px;
  }
}


@media (max-width: 880px) {
  .quality {
  
    &__inner {
      flex-wrap: wrap;
    }
  
    &__item {
      flex: 0 1 100%;
      margin-bottom: 10px;
    }
  
    &__icon {
      margin-bottom: 5px;
      flex: 0 0 35%;
      overflow: hidden;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__title {
      margin-bottom: 15px;
    }
  
    &__text {
      max-width: 60%;
    }
  }

}

@media (max-width: 480px) {
  .quality {

    &__text {
      max-width: 100%;
    }
  }

}
/*-----------*/



/*СТРАНИЦА 2*/

/*skateboards*/
.skateboards {
  padding-top: 66px;
  &__inner {
    display: flex;
    flex-direction: column;
    
  }

  &__title {
    font-size: 32px;
    line-height: 55px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    transition: box-shadow 0.3s ease-in-out;

    &:hover{
  
      box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.3);
    }
  }
  &__item-img {
    flex: 0 0 80%;

    max-width: 400px;
    overflow: hidden;
    margin-bottom: 40px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-title {
    margin-bottom: 15px;
    color: #FF4A32;
    font-size: 24px;
    line-height: 18px;
  }

  &__item-subtitle {
    font-size: 24px;
    line-height: 18px;
    color: #000;
  }
}
.skateboards__item-subtitle.active{
  color: rgba(0, 0, 0, 0.3);

}
@media (max-width: 880px) {
  .skateboards {
		&__item {
    flex: 0 0 100%;
		}
}
}
/*-----------*/



/*-----------*/
.footer {
  background-color: #F7F7F7;

  &__inner {
    padding: 50px 0px 50px 0px
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__block {
  }

  &__img {
    max-width: 160px;
    max-height: 134px;
    img{
      width: 100%;
      height: 100%;
    }
  }

  &__explore {
  }

  &__explore-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__explore-links {
    display: flex;
    flex-direction: column; 
  }

  &__explore-link {
    margin-bottom: 1px;
    color: #000;
    font-size: 14px;
    line-height: 21px;
    
  }

  &__about {
    flex: 0 1 31.67%;
  }

  &__about-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 10px;

  }

  &__about-items {
  }

  &__about-item {
    margin-bottom: 1px;
    color: #000;
    font-size: 14px;
    line-height: 21px;

  }
  &__about-text {
    margin-bottom: 15px;
  }

  &__rights {
  }
}

@media (max-width: 880px) {
  .footer {

		&__inner {
		}

		&__info {
      display: block;

    }

		&__block {
		}

		&__img {
      margin-bottom: 15px;
		}

		&__explore {
      margin-bottom: 15px;

		}

		&__explore-title {
		}

		&__explore-links {
		}

		&__explore-link {
		}

		&__about {
		}

		&__about-title {
		}

		&__about-items {
		}

		&__about-item {
		}

		&__rights {
		}
}
}
